<p>  
  <b><%= comment.commenter %></b>
  kirjoitti...
</p> 

<p>  
  <%= comment.body %> 
</p> 

<p>
  <span class="icon icon_clock"><%= l comment.created_at, :format => :long %></span>
</p>

<hr />
