<p>
  <span class="comment_commenter"><%= comment.commenter %></span>
  <span class="icon icon_clock"><%= l comment.created_at, :format => :long %></span>
</p>
<p>
  <span class="comment_content"><%= comment.body %></span>
</p>
