/* Reset (Railsdispatch.com) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;}
body {line-height:1;}
ol, ul {list-style-type:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:''; content:none;}
:focus {outline:0;}
ins {text-decoration:none;}
del {text-decoration:line-through;}
table {width:99%; margin-bottom:1.4em; clear:left;}
th {border-bottom:2px solid #333; font-weight:bold; text-align:left;}
td {border-bottom:1px solid #E1E1E1; font-size:12px;}
th, td {padding:4px 4px 4px 0;}
tr:last-child td {border-bottom-width:0;}
tfoot {font-style:italic;}
caption {background:transparent;}

/* Blueprint CSS (Railsdispatch.com) */
body, blockquote * {font:13px/1.5 Helvetica, Arial, sans-serif;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;}
p {margin-bottom:1em;}
ul {list-style-type:none;}
ol {list-style-type:decimal;}
abbr, acronym {border-bottom-width:0;}
strong {font-weight:bold;}
em {font-style:italic;}

/* HTML5 elements */
article, header, section, footer, nav { display: block; }

body { background: #5A5A5A; }
input { font-size: 16px; }
textarea { font-size: 13px; }

/* HEADER */
header { background: #A9D615; height: 150px; margin-bottom: 15px; }
header h1 { font-size: 60px; text-shadow: 1px 1px 1px #E1FF7E; color: #42530B; padding-top: 10px; }
header h2 { font-size: 18px; color: #fff; text-shadow: 0 -1px 0 #000; }
header nav { margin-top: 19px; float: right; font-size: 14px; }
header nav a { text-decoration: none; color: #000; }
header nav ul li { float: left; display: block; margin-left: 20px; }

header nav a.current {
	color: #D6D6D6;
	background: #5A5A5A; padding: 12px 12px 17px 12px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
}

/* CONTENT */
section { color: #383838; padding-bottom: 20px; }

/* Articles */
article header { background: 0; height: auto; margin: 0; }
article header h1 { font-size: 25px; text-shadow: 0 -1px 1px #000; color: #fff; padding-bottom: 10px; background: #5A5A5A; }
article h2 { font-size: 23px; padding-top: 15px; }
article p { font-size: 15px; line-height: 24px; margin: 0; padding-top: 15px; }

.article_content { background: #F7F7F7; padding: 0 15px 15px 15px; -webkit-box-shadow: 1px 2px 3px #252525; -moz-box-shadow: 1px 2px 3px #252525; }

/* FOOTER */
footer { text-align: center; color: #2E2E2E; }

/* Misc */
.container { margin: 0 auto; width: 800px; }
.flash { padding: 10px; font-size: 14px; }
.alert { background: #FFC4C4; color: #882828; -webkit-box-shadow: 1px 1px 4px #B92323; }