<article>
  <header><h1>Meistä</h1></header>
  
  <div class="article_content">
    <p>This is a project by three ICT-students.
    We are going to build a blog from scratch with Ruby on Rails.</p>
  </div>
</article>