<%= link_to 'Uusi artikkeli', new_post_path %>

<% @posts.each do |post| %>
      <article>
        <header><h1><%= post.title %></h1></header>
        <div class="article_content">
          <p>
            <%= post.body %>
          </p>
        </div>
      </article><br /><br />
<% end %>

