<%= link_to 'Uusi artikkeli', new_post_path %>

<% @posts.each do |post| %>
      <article>
        <header><h1><%= link_to post.title, post_path(post) %></h1></header>
        <div class="article_content">
          <p>
            <%= post.body %>
          </p>
          <br />
        </div>
      </article><br /><br />
<% end %>
