<article>
  <header>
    <h1>Uusi artikkeli</h1>
  </header>
  <div class="article_content">
    <%= form_for [:admin, @blog, @post] do |f| %>
      <%= error_messages_for :post %>
      <%= render :partial => 'posts/form', :object => f %>
      <p>
        <%= f.submit 'Tallenna' %>
       </p>
      <% end -%>
  </div>
</article>