<article>
  <header>
    <h1>Muokkaa artikkelia</h1>
  </header>
  <div class="article_content">
    <p>
      <%= render 'form' %><br />
      <%= link_to 'Takaisin', root_path %>
    </p>
  </div>
</article>
