<article>
  <header>
    <h1>Kirjoita uusi artikkeli</h1>
  </header>
  <div class="article_content">
    <p>
      <%= render 'form' %> 
      <%= link_to 'Takaisin', root_path %>
    </p>
  </div>
</article>
