<% if @user == current_user %>
<%= title 'Oma profiili' %>
<% else %>
<%= title @user.name %>
<% end -%>

<div class="article_content">
  <%= image_tag @user.gravatar_url, :class => 'profile_image' %>

  <% if @user == current_user %>
    <%= render 'form' %>
  <% end -%>
</div>