<article>
  <header>
    <% if @user == current_user %>
    <h1>Oma profiili</h1>
    <% else %>
    <h1><%= @user.name %></h1>
    <% end -%>
  </header>

  <div class="article_content">
    <%= image_tag @user.gravatar_url, :class => 'profile_image' %>

    <% if @user == current_user %>
      <%= render 'form' %>
    <% end -%>
  </div>
</article>