<%= render_content_nav %>

<div class="article_content">
  <%= title 'Blogit' %>

  <% for blog in @blogs %>
    <p>
      <%= blog.name %> <%= link_to 'Poista', [:admin, blog], :method => :delete, :confirm => 'Oletko varma?' %>
    </p>
  <% end -%>
</div>