<%= render_content_nav %>

<div class="article_content">
  <%= title 'Blogit' %>

  <table>
    <tr>
      <th>ID</th>
      <th>Nimi</th>
      <th>Luotu</th>
      <th colspan="2">Päivitetty</th>
    </tr>
    
    <%= render :partial => "admin/blogs/blog", :collection => @blogs %>
  </table>
</div>